<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Year Countdown</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Countdown to New Year</h1>
    <div class="timer">
        <p><%= timeToNewYear.days %> Days</p>
        <p><%= timeToNewYear.hours %> Hours</p>
        <p><%= timeToNewYear.minutes %> Minutes</p>
        <p><%= timeToNewYear.seconds %> Seconds</p>
    </div>

    <script src="index.js"></script>
</body>
</html>
